Package: com.amar.shield
Name: AmarShield Zeus
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: The Ultimate Zeus Shield for iOS (No Jailbreak)
Maintainer: Amar
Author: Amar
Section: Tweaks

